<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='gemuese_style.css') }}">
		<title>{{title}}</title>
	</head>
	<body>
		<div class="background">
			<div class="nav">
				<a href="suggestion">Empfehlung</a>
				<a href="seasonal">Übersicht</a>
				<a href="look_up">Suche</a>
				<a href="getrecipe">Rezept</a>
				<a href="veggyrecipe">Vegetarisches Rezept</a>
				<a href="veganrecipe">Veganes Rezept</a>
			</div>
			<!-- This contains the the result of the function calls -->
			<div class="content">
				<p class="intro">
					{{title}}
				</p>
				<ul>
					{% for vegetable in result %}
						<li>{{vegetable}}</li>
					{% endfor %}
				</ul>
			</div>
			<div class='info'>
					Diese Seite empfiehlt Gemüse und Rezepte welche aktuell in Deutschland in Saison sind. Die Datenquelle des Bundeszentrums für Ernährung sowie den Quellcode findest Du hier: https://github.com/Fvnguyen/gemueseWeb.
			</div>
		</div>
	</body>
</html>