<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel= "stylesheet" type= "text/css" href= "C:/users/fabian.nguyen/03 - Customer Analytics/Bots/gemueseWeb/static/gemuese_style.css">
		<title>{{title}}</title>
	</head>
	<body>
		<div class="background">
			<div class="nav">
				<a href="suggestion">Empfehlung</a>
				<a href="seasonal">Übersicht</a>
				<a href="look_up">Suche</a>
				<a href="getrecipe">Rezept</a>
				<a href="veggyrecipe">Vegetarisches Rezept</a>
				<a href="veganrecipe">Veganes Rezept</a>
			</div>
			<!-- This contains the the result of the function calls -->
			<div class="recipe">
				<p class="intro">
					{{label}}
				</p>
				<a href='test.html'>Rezept von {{source}}</a>
				<br>
				<a href='test.html'><img src='C:/users/fabian.nguyen/03 - Customer Analytics/Bots/Flask Test/static/rock.gif' alt={{label}}></a>
			</div>
			<div class='info'>
				Hello
			</div>
			<div id="edamam-badge"><a href="https://www.edamam.com" title="Powered by Edamam" target="_blank"><img alt="Powered by Edamam" src="https://developer.edamam.com/images/badge.png" height="40" width="200" /></a></div>
	</body>
</html>